/* #example_wrapper{
  margin: 1%;
  margin-top: 0;
} */
#example_filter{
  margin-right: 7px;
  margin-bottom: 5px;
}
/* Default Styles */
.action-btns{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.action-btns a{
  text-decoration: none;
}
.act-icon{
  margin-right: 2px;
}

/* Add margins around the table */
table.product_table {
  margin: 20px;
  border-spacing: 2px !important;  
}

/* Reset some default styles */
table.product_table thead th,
table.product_table thead td {
  padding: 10px;
  border-bottom: none;
}

/* Style the table header */
table.product_table thead {
    background-color: #f4f4f4;
    border-bottom: 1px solid #ddd;
}

table.product_table thead th {
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    border-right: 1px solid #ddd;
}

/* Style the table content */
table.product_table tbody td {
    padding: 15px 10px;
    vertical-align: middle;
    border: 1px solid #333; /* Add border to table cells */
}

/* Style the table content images */
table.product_table tbody td img {
    max-width: 75px; /* Set a maximum width for images */
    height: auto;
    display: block;
    margin: 0 auto; /* Center align images */
}

/* Add a hover effect on table rows */
table.product_table tbody tr:hover {
    background-color: #f9f9f9;
}

/* Style the table footer */
table.product_table tfoot {
    background-color: #f4f4f4;
    font-weight: bold;
}

/* Style the table footer cells */
table.product_table tfoot th {
    padding: 10px;
    border-right: 1px solid #ddd;
}

/* Style the pagination */
.dataTables_paginate {
    margin-top: 10px;
}

/* Style the search input */
.dataTables_filter input[type="search"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Style the DataTable length select dropdown */
.dataTables_length select {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    background-color: #f9f9f9;
}

/* Style the DataTable info text */
.dataTables_info {
    margin-top: 10px;
}

/* Style the DataTable page navigation buttons */
.dataTables_paginate .paginate_button {
    padding: 5px 10px;
    margin: 2px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.dataTables_paginate .paginate_button:hover {
    background-color: #0056b3;
}

/* Style the DataTable active page button */
.dataTables_paginate .paginate_button.current {
    background-color: #0056b3;
}

/* Style the DataTable previous and next buttons */
.dataTables_paginate .paginate_button.previous,
.dataTables_paginate .paginate_button.next {
    background-color: #007bff;
}

/* Style the DataTable previous and next buttons on hover */
.dataTables_paginate .paginate_button.previous:hover,
.dataTables_paginate .paginate_button.next:hover {
    background-color: #0056b3;
}
