<!-- Main Navigation Bar
    <nav class="sticky-nav">
      <div class="wrapper">
        <input type="radio" name="slider" id="menu-btn">
        <input type="radio" name="slider" id="close-btn">
        <ul class="nav-links">
          <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
          <li><a href="{{route('shop')}}">Shop</a></li>
          Computer Accesories
          @foreach ($supcategories as $supcategory)
          <li>
            <a href="shop_accessories.html" class="desktop-item" data-supcategory="{{ $supcategory->id }}">{{$supcategory->name}} <i class="fa-solid fa-caret-down"></i></a>
            <input type="checkbox" id="showMega">
            <label for="showMega" class="mobile-item">{{$supcategory->name}}</label>
            <div class="mega-box">
              <div class="content" data-category-container="{{ $supcategory->id }}">
                  @foreach ($categories as $category)
                  <div class="row">

                    <ul class="mega-links">
                        @if ($category->sup_category_id === $supcategory->id)
                            <li><a href="#" class="mx-4" id="row-header"><b>{{ $category->name }}</b></a></li>
                            <li><a href="#" class="mx-4">Webcam</a></li>
                            <li><a href="#" class="mx-4">VGA Cables</a></li>
                        @endif
                  
                      
                      
                    </ul>
                  </div>

                  @endforeach 

              </div>
            </div>
            <ul class="mega-links" data-category-container="{{ $supcategory->id }}">
                    @foreach ($categories as $category)
                        @if ($category->sup_category_id === $supcategory->id)
                            <li><a href="#" class="mx-4">{{ $category->name }}</a></li>
                        @endif
                    @endforeach
                </ul>
          </li>
          @endforeach
          <li>
            <a href="shop_accessories.html" class="desktop-item">Accesories <i class="fa-solid fa-caret-down"></i></a>
            <input type="checkbox" id="showMega">
            <label for="showMega" class="mobile-item">Accesories</label>
            <div class="mega-box">
            <div class="content">
              <div class="row">
                <ul class="mega-links">
                  <li><a href="#" class="mx-4" id="row-header"><b>Computer Accesories</b></a></li>
                  <li><a href="#" class="mx-4">Headphones</a></li>
                  <li><a href="#" class="mx-4">Laptop Chargers</a></li>
                  <li><a href="#" class="mx-4">Laptop Batteries</a></li>
                  <li><a href="#" class="mx-4">Webcam</a></li>
                  <li><a href="#" class="mx-4">VGA Cables</a></li>
                </ul>
              </div>
              <div class="row">
                <ul class="mega-links">
                  <li><a href="#" id="row-header"><b>Storage</b></a></li>
                  <li><a href="#">Flash Drives</a></li>
                  <li><a href="#">Memory Cards</a></li>
                  <li><a href="#">Internal Hard Disk HDD</a></li>
                  <li><a href="#">Solid State Devices SSD</a></li>
                </ul>
              </div>
              <div class="row">
                <ul class="mega-links">
                  <li><a href="#" id="row-header"><b>Network Accesories</b></a></li>
                  <li><a href="#">Patch Panel</a></li>                  
                </ul>
              </div>
              <div class="row">
                <ul class="mega-links">
                  <li><a href="#">USB Cables</a></li>
                  <li><a href="#">HDMI</a></li>
                  <li><a href="#">Surge Protector</a></li>
                  <li><a href="#">Speakers</a></li>
                </ul>
              </div>
            </div>
            </div>
          </li> 
          Computing
          <li>
            <a href="shop_computing.html" class="desktop-item">Computing <i class="fa-solid fa-caret-down"></i></a>
            <input type="checkbox" id="showMega">
            <label for="showMega" class="mobile-item">Computing</label>
            <div class="mega-box">
            <div class="content">
              <div class="row">
                <ul class="mega-links">
                  <li><a href="#" class="mx-4" id="row-header"><b>Laptops</b></a></li>
                  <li><a href="#" class="mx-4">DELL Laptops</a></li>
                  <li><a href="#" class="mx-4">HP Laptops</a></li>
                  <li><a href="#" class="mx-4">Lenovo Laptops</a></li>
                  <li><a href="#" class="mx-4">Asus Laptops</a></li>
                  <li><a href="#" class="mx-4">Refurbished Laptops</a></li>
                </ul>
              </div>
              <div class="row">
                <ul class="mega-links">
                  <li><a href="#" id="row-header"><b>Desktop Computers</b></a></li>
                  <li><a href="#">Flash Drives</a></li>
                  <li><a href="#">Memory Cards</a></li>
                  <li><a href="#">Memory Cards</a></li>
                  <li><a href="#">Solid State Devices SSD</a></li>
                </ul>
              </div>
              <div class="row">
                <ul class="mega-links">
                  <li><a href="#" id="row-header"><b>Printers & Scanners</b></a></li>
                  <li><a href="#">Flash Drives</a></li>
                  <li><a href="#">Memory Cards</a></li>
                  <li><a href="#">Solid State Devices SSD</a></li>
                </ul>
              </div>
              <div class="row">
                <ul class="mega-links">
                  <li><a href="#">USB Cables</a></li>
                  <li><a href="#">HDMI</a></li>
                  <li><a href="#">Surge Protector</a></li>
                  <li><a href="#">Speakers</a></li>
                </ul>
              </div>
            </div>
            </div>
          </li>
          Electronics
          <li>
            <a href="shop_electronics.html" class="desktop-item">Electronics <i class="fa-solid fa-caret-down"></i></a>
            <input type="checkbox" id="showMega">
            <label for="showMega" class="mobile-item">Electronics</label>
            <div class="mega-box">
            <div class="content">
              <div class="row">
                <ul class="mega-links">
                  <li><a href="#" class="mx-4" id="row-header"><b>Cameras</b></a></li>
                  <li><a href="#" class="mx-4">Headphones</a></li>
                  <li><a href="#" class="mx-4">Laptop Chargers</a></li>
                  <li><a href="#" class="mx-4">Laptop Batteries</a></li>
                  <li><a href="#" class="mx-4">Webcam</a></li>
                  <li><a href="#" class="mx-4">VGA Cables</a></li>
                </ul>
              </div>
              <div class="row">
                <ul class="mega-links">
                  <li><a href="#" id="row-header"><b>TVs</b></a></li>
                  <li><a href="#">Flash Drives</a></li>
                  <li><a href="#">Memory Cards</a></li>
                  <li><a href="#">Memory Cards</a></li>
                  <li><a href="#">Solid State Devices SSD</a></li>
                </ul>
              </div>
              <div class="row">
                <ul class="mega-links">
                  <li><a href="#" id="row-header"><b>Mobile Phones</b></a></li>
                  <li><a href="#">Flash Drives</a></li>
                  <li><a href="#">Memory Cards</a></li>
                  <li><a href="#">Solid State Devices SSD</a></li>
                </ul>
              </div>
              <div class="row">
                <ul class="mega-links">
                  <li><a href="#">USB Cables</a></li>
                  <li><a href="#">HDMI</a></li>
                  <li><a href="#">Surge Protector</a></li>
                  <li><a href="#">Speakers</a></li>
                </ul>
              </div>
            </div>
            </div>
          </li>
           Networking
          <li>
            <a href="shop_networking.html" class="desktop-item">Networking <i class="fa-solid fa-caret-down"></i></a>
            <input type="checkbox" id="showMega">
            <label for="showMega" class="mobile-item">Networking</label>
            <div class="mega-box">
            <div class="content">
              <div class="row">
                <ul class="mega-links">
                  <li><a href="#" class="mx-4" id="row-header"><b>TP Link</b></a></li>
                  <li><a href="#" class="mx-4">Headphones</a></li>
                  <li><a href="#" class="mx-4">Laptop Chargers</a></li>
                  <li><a href="#" class="mx-4">Laptop Batteries</a></li>
                  <li><a href="#" class="mx-4">Webcam</a></li>
                  <li><a href="#" class="mx-4">VGA Cables</a></li>
                </ul>
              </div>
              <div class="row">
                <ul class="mega-links">
                  <li><a href="#" id="row-header"><b>Tenda</b></a></li>
                  <li><a href="#">Flash Drives</a></li>
                  <li><a href="#">Memory Cards</a></li>
                  <li><a href="#">Memory Cards</a></li>
                  <li><a href="#">Solid State Devices SSD</a></li>
                </ul>
              </div>
              <div class="row">
                <ul class="mega-links">
                  <li><a href="#" id="row-header"><b>DP Link</b></a></li>
                  <li><a href="#">Flash Drives</a></li>
                  <li><a href="#">Memory Cards</a></li>
                  <li><a href="#">Solid State Devices SSD</a></li>
                </ul>
              </div>
              <div class="row">
                <ul class="mega-links">
                  <li><a href="#">USB Cables</a></li>
                  <li><a href="#">HDMI</a></li>
                  <li><a href="#">Surge Protector</a></li>
                  <li><a href="#">Speakers</a></li>
                </ul>
              </div>
            </div>
            </div>
          </li>
          Contact Us
          <li><a href="contact_us.html">Contact Us</a></li>           
        </ul>
        <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
      </div>
    </nav> -->

    <!-- #rd iteration of main nav -->

    <div>
      <ul>
          @foreach ($supcategories as $supcategory)
              <li>
                  <a href="#" class="desktop-item" 
                     wire:mouseover="showCategories({{ $supcategory->id }}, null)"
                     wire:mouseout="showCategories(null, null)">
                      {{ $supcategory->name }} <i class="fa-solid fa-caret-down"></i>
                  </a>
  
                  <ul class="{{ $selectedSupcategory == $supcategory->id ? 'visible' : 'hidden' }}">
                      @foreach ($supcategory->categories as $category)
                          <li>
                              <a href="#" 
                                 wire:mouseover="showCategories({{ $supcategory->id }}, {{ $category->id }})"
                                 wire:mouseout="showCategories({{ $supcategory->id }}, null)">
                                  {{ $category->name }} <i class="fa-solid fa-caret-down"></i>
                              </a>
          <!-- class="{{ $selectedCategory == $category->id ? 'visible' : 'hidden' }}" -->
                              <ul >
                                  @foreach ($category->subcategories as $subcategory)
                                      <li><a href="#" class="mx-4">{{ $subcategory->name }}</a></li>
                                  @endforeach
                              </ul>
                          </li>
                      @endforeach
                  </ul>
              </li>
          @endforeach
      </ul>
  </div>