
/* PRODUCTS */
.best-selling-product {
  position: relative;
  overflow: hidden;
  padding: 10px;
  margin-left: 2%;
  margin-right: 2%;
  border-bottom: .8px solid #ddd;
}
.best-selling-product-container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.best-selling-product-container::-webkit-scrollbar {
  display: none;
}
.best-selling-product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  height:fit-content;
  margin-right: 10px;
  margin-bottom: 25px;
  margin-top: 7px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.best-selling-product-card:hover{
  transform: scale(1.04) translateY(-2%);
  transition: all 0.3s ease-in-out;
}
.best-selling-product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}
.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.discount-tag {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #e72525;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}
.best-selling-product-info {
  width: 100%;
  padding: 3px;
  padding-top: 10px;
  margin-bottom: 20px;
  background-color: #fff;
}
.best-selling-product-brand {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}
.product-short-description {
  width: 100%; 
  opacity: 0.5;
  margin: 5px 0;  
  text-align: center;
}
.product-short-description a{
  text-decoration: none;
}
.best-selling-price {
  font-weight: 900;
  font-size: 18px;
  padding: 12px;
  margin-bottom: 20px;  
}
.best-selling-actual-price {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}
.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}
