.cart-title{
    padding-top: 4%;
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 3%;
    position: relative;
    text-align: center;
    background-color: #fff;
    font-weight: 800;
    letter-spacing: 1px;    
}
.cart-title::after{
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    background-color: #000;
    position: absolute;
    left: 50%;
}
.cart-heading{
    letter-spacing: 1px;
    color: #777777;
}
.cart-list{
    color: #777777;
    font-size: 14px;
}
.shop-cart{
    display: flex;
    flex-direction: row;
    margin-right: 2%;
    margin-left: 2%;
    padding-bottom: 4%;
    background-color: #fff;
    gap: 10px;
    border-bottom: 1px solid #ddd;
}
.shop-cart-items{
    width: 70%;
    padding-left: 7px;
    padding-right: 15px;
}
.shop-cart-totals{
    width: 30%;
    padding-left: 15px;
    padding-right: 15px;
    border-left: 1px solid #ddd;

}
.tt{
    text-align: right;

}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
thead{
    border-bottom: 3px solid #ddd;
}
th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.item-image {
    width: 75px;
    height: 75px;
    object-fit: cover;
    vertical-align: middle;
    margin-right: 5px;
}
.item-name {
    display: flex;
    align-items: center;
    /* max-width: 400px; */
    font-size: 14px;
    color: darkblue;
    cursor: pointer;
}
.delete-btn {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: lightgray;
}
.delete-btn:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
    color: darkred;
}
.cart-quantity{
  width: 100px;
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFF;
}
.cart-quantity span{
  width: 100px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  user-select: none;
}
.cart-quantity span.num{
  font-size: 18px;
  border-top: 1px solid rgba(0,0,0,0.2);
  border-bottom: 1px solid rgba(0,0,0,0.2);
  box-shadow:  14px 14px 83px #bebebe,
             -14px -14px 83px #ffffff;
  pointer-events: none;
}
.cart-quantity span.minus{
  border: 1px solid rgba(0,0,0,0.2);
  background-color: #e4e5e7;
}
.cart-quantity span.plus{
  border: 1px solid rgba(0,0,0,0.2);
  background-color: #e4e5e7;
}
.cart-quantity span.plus:hover{
  background-color: #C1C1C1;
}
.cart-quantity span.minus:hover{
  background-color: #C1C1C1;
}
.continue-shop-btn {
  color: #FF491C;
  outline: 1px solid #FF491C;
  border: none;
  margin-top: 15px;
  padding: 10px 20px;
  margin-left: 15px;
  cursor: pointer;
  text-decoration: none;
}
.fa-arrow-left{
    margin-right: 7px;
}
.continue-shop-btn:hover {
  background-color: #FF491C;
  color: #fff;
}
.checkout-btn {
  background-color: #d33a14;
  color: #fff;
  border: none;
  margin-top: 15px;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: .8px;
  text-align: center;
}
.checkout-btn a{
  text-decoration: none;
  color: #FFF;
  
}
.checkout-btn:hover {
  background-color: #FF491C;
}
.bottom{
  border-bottom: 3px solid #ddd;
}
